[submodule "lib/abcjs"]
	path = lib/abcjs
	url = https://github.com/freakimkaefig/abcjs
[submodule "lib/solr"]
	path = lib/solr
	url = https://github.com/freakimkaefig/melodicsimilarity-solr.git
[submodule "lib/tomcat"]
	path = lib/tomcat
	url = https://github.com/freakimkaefig/melodicsimilarity-tomcat.git
