doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/common.css')
    script(src='/build/common.js')
    block head
  body
    include ./partials/header
    block content
    include ./partials/footer
    block scripts