@import (reference) "../../config/_variables.less";

.metadata {

  tr {
    &.highlight {
      background-color: @brand-danger;
      color: #fff;
    }

    td {
      &.field-label {
        text-transform: capitalize;
      }
      &.field-value {
        white-space: pre-wrap;
      }
    }
  }
}